html,
body,
body *:not(input):not(textarea):not(select):not(button):not([contenteditable="true"]) {
  -webkit-user-select: text !important;
  user-select: text !important;
  -webkit-touch-callout: default !important;
}

input,
textarea,
select,
button,
[contenteditable="true"] {
  -webkit-user-select: auto !important;
  user-select: auto !important;
}

